.trail-card {
  overflow: hidden;
  width: auto;
  height: auto;
  margin: 10px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;

  
}

.trail-card:hover {
  overflow: hidden;
  width: auto;
  height: auto;
  margin: 10px;
  box-shadow: 0 6px 12px #999, 0 6px 12px #999;
  transition: .2s;

}